{{> head }}

  {{> navbar }}

<div class="container mt-5">
    <div class="row">
    <div class="col-8">
        <h1>Abouts</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus deserunt enim, sint asperiores facilis et amet illum at, sequi nesciunt minus inventore repellat. Optio dolorem aperiam iusto et repellat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus deserunt enim, sint asperiores facilis et amet illum at, sequi nesciunt minus inventore repellat. Optio dolorem aperiam iusto et repellat.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, necessitatibus deserunt enim, sint asperiores facilis et amet illum at, sequi nesciunt minus inventore repellat. Optio dolorem aperiam iusto et repellat.</p>
    </div>
       <div class="col-2">
           <img src="assets/img/sunrise-gbade28e8a_640.jpg" alt="Imagen" class="img-thumbnail">
       </div>
</div>
</div>

{{> footer }}